@import 'base/reset';
@import 'components/_thumbnail';
@import 'components/_arrow';
@import 'layout/_header';
@import 'layout/_content';
@import 'layout/_footer';
body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
}