.arrow {
    cursor: pointer;
    height: 42px;
    position: absolute;
    right: 0;
    bottom: 0;
    transform: translateX(-50%) translateY(-50%);
    transition: transform .1s;
    width: 25px;
    $transition-time: .15s;
    &-top,
    &-bottom {
        background-color: $orange;
        height: 4px;
        left: -5px;
        position: absolute;
        top: 50%;
        width: 100%;
    }
    &-top {
        transform: rotate(45deg);
        transform-origin: bottom right;
    }
    &-bottom {
        transform: rotate(-45deg);
        transform-origin: top right;
        &:after {
            left: 0;
            right: 100%;
            transition-delay: $transition-time;
        }
    }
    &:active {
        transform: translateX(-50%) translateY(-50%) scale(0.9);
    }
}