// Top Thumbnails
.thumbnails {
    background-color: red;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.thumbnail {
    background-color: blue;
    img {
        height: 175px;
    }
}

// Bottom Thumbnails
.thumbnails-bottom {
    background-color: green;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}