// Top Thumbnails
.thumbnails {
    background-color: red;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.thumbnail {
    background-color: blue;
    padding-right: 20px;
    img {
        height: 210px;
        width: 370px
    }
    &:last-child {
        padding-right: 0;
    }
}

// Bottom Thumbnails
.thumbnails-bottom {
    background-color: green;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}