.thumbnails {
    background-color: red;
    display: flex;
    justify-content: space-around;
}

.thumbnail {
    background-color: blue;
    img {
        height: 175px;
        weight: 350px;
    }
}