.banner {
    background-image: url('/src/assets/images/banner.png');
    height: 275px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 55% 30%;
}

.main__information {
    background-color: yellow;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2.2em 0;
    h1 {
        color: $blue;
        font-size: 36px;
        font-weight: 100;
    }
}