footer {
    background-color: $blue-footer;
    display: flex;
    flex-direction: column;
    padding: 0 180px;
    font-size: 14px;
    color: white;
    @media screen and (max-width: 414px) {
        padding: 0 25px;
    }
    .info {
        display: flex;
        padding-top: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid white;
        line-height: 15px;
        &__direction {
            flex-direction: column;
            padding-right: 100px;
        }
        &__contact {
            flex-direction: column;
        }
        ul {
            display: flex;
            flex-direction: column;
            @media screen and (max-width: 414px) {
                font-size: 12px;
            }
        }
    }
}

.nav-footer {
    height: 50px;
    display: flex;
    align-items: center;
    @media screen and (max-width: 780px) {
        font-size: 12px;
    }
    @media screen and (max-width: 695px) {
        display: none;
    }
    ul {
        display: flex;
        li {
            padding: 0 2px;
            span {
                border: 1px solid $grey;
                margin: 0 5px;
            }
            a {
                color: white;
                text-decoration: none;
            }
        }
    }
}

.nav-footer-mobile {
    @media screen and (max-width: 1600px) {
        display: none;
    }
    @media screen and (max-width: 695px) {
        display: block;
        ul {
            text-align: center;
            li {
                padding: 5px 0;
                a {
                    text-decoration: none;
                    color: white;
                }
            }
        }
    }
}