footer {
    background-color: orange;
    display: flex;
    flex-direction: column;
    padding: 0 180px;
    font-size: 14px;
    .info {
        background-color: aqua;
        display: flex;
        padding-top: 10px;
        border-bottom: 1px solid $grey;
        &__direction {
            flex-direction: column;
            padding-right: 100px;
        }
        &__contact {
            flex-direction: column;
        }
        ul {
            display: flex;
            flex-direction: column;
        }
    }
}

.nav-footer {
    height: 40px;
    display: flex;
    align-items: center;
    ul {
        display: flex;
        li {
            padding: 0 2px;
            span {
                border: 1px solid $grey;
                margin: 0 5px;
            }
        }
    }
}