.menu {
    background-color: #252c53;
    color: white;
    display: flex;
    justify-content: space-evenly;
    &__left {
        display: flex;
        background-color: green;
        font-size: 14px;
    }
    &__right {
        background-color: red;
        ul {
            display: flex;
        }
    }
}

.middle_menu {
    background-color: yellow;
    display: flex;
    justify-content: center;
}

.lower_menu {
    color: #b8b8b8;
    background-color: green;
    ul {
        display: flex;
        justify-content: center;
    }
    li span {
        border: 1px solid red;
        margin: 0 5px;
    }
}

.logo {
    display: flex;
    justify-content: center;
}