.menu {
    background-color: $blue;
    height: 50px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 25px;
    font-size: 0.8em;
    &__left {
        display: flex;
        background-color: green;
        i {
            padding: 0 6px;
        }
    }
    &__right {
        background-color: red;
        ul {
            display: flex;
            li {
                padding: 0 10px;
            }
        }
    }
}

.middle_menu {
    background-color: yellow;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #b8b8b8;
}

.lower_menu {
    color: #b8b8b8;
    font-size: 0.8em;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25px;
    background-color: green;
    padding: 20px 0;
    ul {
        display: flex;
        justify-content: center;
    }
    li {
        padding: 0 2px;
    }
    span {
        border: 1px solid #b8b8b8;
        margin: 0 5px;
    }
}

.logo {
    display: flex;
    justify-content: center;
}