.menu {
    background-color: $blue;
    height: 50px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 25px;
    font-size: 0.8em;
    &__left {
        display: flex;
        background-color: green;
        i {
            padding: 0 6px;
        }
    }
    &__right {
        background-color: red;
        font-size: 1.1em;
        ul {
            display: flex;
            li {
                padding: 0 10px;
            }
            i {
                padding: 0 5px;
            }
        }
    }
}

.middle_menu {
    background-color: yellow;
    display: flex;
    justify-content: center;
    height: 100px;
    border-bottom: 1px solid $grey;
}

.lower_menu {
    color: $grey;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    background-color: green;
    padding: 20px 0;
    ul {
        display: flex;
        justify-content: center;
    }
    li {
        padding: 0 2px;
        span {
            border: 1px solid $grey;
            margin: 0 5px;
        }
    }
}

.logo {
    display: flex;
    justify-content: center;
    img {
        height: 90px;
        width: 90px;
    }
}